<div class='navbar_usando_bem'>
  <div class='hidden-xs'>
    <%= image_tag "emotionwapp.jpg", alt: "Kauê" , :class => "navbar-photo" %>
  </div>
  <h3 > U$ando bem $eu dinheiro </h3>
  <p> kauefm@gmail.com</p>
</div>







